/*LINK DE CSS PESQUISA.MIN.CSS*/
#nome_pesquisa{

	width: 200px;
	min-width: 180px;
	margin-top: 5px;
	margin-left: 2%;
}
#btnPesquisa{

	position: relative;
	margin-left: 238px;
	height: 30px;
	top: -30px;
}

#result_zero{
	width: 100%;
}
#mensagem{
	position: relative;
	font-size: 20px;
	font-family: Arial;
}
/*##########################*/
/*CSS DE LISTAGEM, TABELAS E ESTILOS*/
#container table{
	position: relative;
	width: 95%;
	margin-left: 2%;
	border: 1px solid #333;
}
.thead-dark{
	background: #333;
	color: #FFFF;
}
.btn{
position: relative;
margin-left: 2%;
}
input{
	
	position: relative;
	margin-left: 2%;
}
/*##########################*/

#span_usuario{
	float: right;
	background-color: #333;
}

#usuario{
	color: red;
	text-transform: uppercase;  
}
#barra-menu{

	background-color: #333;
}


#btnNovaPesquisa{

	position: relative;
	top: 8px;
}
#barra-menu{

	background-color: #333;
}
.dropdown-menu li a{
	background-color: #FFFF;
}

ul li a{

	color: #FFFF;
	font-size: 16px;

}

li a:hover{
	color: #0000FF;
}
input{margin-left: -1px;}

#btnCadastrar{margin-left: -1px;}

.titulo_cadastro{ font-family:  }

